
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
  
env:
  CONTAINER_SOURCE_PATH: /opt/source
  CONTAINER_TEX_PATH: /opt/source/main.tex
  CONTAINER_BUILD_PATH: /opt/source/build
  DOCUMENT_NAME: main

jobs:
  compile_document:
    name: Compile document
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      
      - name: Build Docker container
        uses: ./.github/actions/docker_build

      - name: Test LaTeX files
        uses: ./.github/actions/docker_run
        with:
          command: >-
            ${{ env.CONTAINER_SOURCE_PATH }}/Test-LaTeXFiles.ps1 
            -RootPath \"${{ env.CONTAINER_SOURCE_PATH }}\"

      - name: Compile document
        uses: ./.github/actions/docker_run
        with:
          command: >-
            ${{ env.CONTAINER_SOURCE_PATH }}/Compile-Document.ps1
            -TexPath \"${{ env.CONTAINER_TEX_PATH }}\"
            -BuildPath \"${{ env.CONTAINER_BUILD_PATH}}\" 
            -DocumentName \"${{ env.DOCUMENT_NAME }}\" 

      - name: Test document
        uses: ./.github/actions/docker_run
        with:
          command: >-
            ${{ env.CONTAINER_SOURCE_PATH }}/Test-Document.ps1
            -DocumentPath \"${{ env.CONTAINER_BUILD_PATH }}/${{ env.DOCUMENT_NAME }}.pdf\"


